$font: "Proxima Nova Rg", sans-serif;
$font2: 'HelveticaNeue', sans-serif;
$back-header: rgba(253, 253, 253, 0.6);
$classic-white: #ffffff;
$white: #fafafa;
$black: #000000;
$black2: #262626;
$dark-black: #151515;
$light-black: #3d4044;
$light-black2: #343537;
$grey: #cecece;
$light-grey: #ebebeb;
$blue: #3b8ede;
$blue2: #4090db;
$shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.06);
$input-border: #cccccc;
$calendar-border: #e6e6e6;
$calendar-title: #333333;
$calendar-num: #666666;



